html {
  --marginTop: 10px;
  --marginBottom: 10px;
  --background: #fbf2ed;
  --yellow: #fec856;
  --lemonMilkRegular: "LemonMilkRegular";
  --lemonMilkMedium: "LemonMilkMedium";
  --lemonMilkLight: "LemonMilkLight";
  --gap: 3rem;
  --gapSmall: 1rem;
}

@font-face {
  font-family: "LemonMilkMedium";
  src: url(assets/lemon-milk-font/LemonMilkMedium-mLZYV.otf);
}
@font-face {
  font-family: "LemonMilkRegular";
  src: url(assets/lemon-milk-font/LemonMilkRegular-X3XE2.otf);
}
@font-face {
  font-family: "LemonMilkLight";
  src: url(assets/lemon-milk-font/LemonMilkLight-owxMq.otf);
}

p,
h1,
h2,
h3 {
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word; /* fallback */
}

h3 {
  font-size: 2rem;
}
h2 {
  font-size: 4rem;
}
h1 {
  font-size: 3rem;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

.profile {
  max-width: 100%;
  border-radius: 2em;
  margin-top: 53px;
  filter: grayscale(90%);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.4);
}

img {
  max-width: 20px;
}
body {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  background-color: var(--background);
}
h3,
span {
  font-family: var(--lemonMilkLight);
}

/* 
************ header ************ */

header,
h2 {
  font-family: var(--lemonMilkMedium);
}
header {
  border-right: black solid 1px;
}
header div {
  margin-top: var(--marginTop);
  margin-bottom: var(--marginBottom);
  writing-mode: vertical-rl;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  white-space: nowrap;
}

header div p,
h1 {
  margin: 0;
  text-align: center;
}

h1 {
  /* background: linear-gradient(90deg, #ff7e5f, #91eac9); */
  text-align: center;
}

.build {
  animation-name: build_kf;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes build_kf {
  0% {
    scale: 1 0;
  }
  100% {
    scale: 1 1;
  }
}

/* ************ main ************  */

main > div {
  max-height: 100vh; /* så kolonnerne ikke bliver højere end viewport */
  overflow-y: auto; /* kun denne kolonne scroller */
  padding: 1rem;
  box-sizing: border-box;
  border-right: black solid 1px;
}

/* ************ div1 ************  */
span {
  font-weight: bold;
}

li,
a {
  list-style: none;
  /* text-decoration: none; */
  color: black;
}

li {
  display: flex;
  gap: var(--gapSmall);
}

.gap {
  margin-top: var(--gap);
}

.gapBottom {
  margin-bottom: var(--gap);
}

.gapSmall {
  margin-top: var(--gapSmall);
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.2rem;
}

@media (min-width: 600px) {
  main {
    display: flex;
  }
  main > div:first-child {
    max-width: 300px;
  }

  /* .right {
    text-align: right;
  } */

  /* .right div {
    text-align: left;
  } */
}
